{% extends "base.html" %}

{% block extra %}
{{ form.media }}
{% endblock extra %}

{% block content %}

{% load crispy_forms_tags %}


<nav class="navbar navbar-inverse navbar-fixed-top">
	  	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    		<div class="navbar-header">
	    			  <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-eye-open"></span><span> </span>BlogGie</a>
		 		</div>
	    	<!-- Collect the nav links, forms, and other content for toggling -->

		   	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		         <ul class="nav navbar-nav" >
		        		<li><a href="#">delete</a></li>
		      	</ul>
		      	</div>
		      	</div>
		      	</nav>
</br></br></br></br></br></br>
<div class="row">
<div class="container-fluid">
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
	{{form|crispy}}
<input type=submit value="create" name="create"/>
</form></hr></hr></hr></hr></div></div>
{% endblock %}
