{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<span> </span></br></br></br>
<link rel="stylesheet" href="{%static "css/list.css" %}">



	<nav class="navbar  navbar-fixed-top">
	  	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    		<div class="navbar-header">
	    			  <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-eye-open"></span><span> </span>BlogGie</a>
		 		</div>
	    	<!-- Collect the nav links, forms, and other content for toggling -->

		   	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		      	<ul class="nav navbar-nav navbar-right">
		        			<li>


		      	<form class="navbar-form navbar-left" role="search">
		        		<div class="form-group">
		          			<input type="text" name="q" value="{{request.GET.q}}" class="form-control" placeholder="Search">
		        		</div>
		        		<button type="submit" class="btn btn-danger">Search</button>
		      	</form></li>
		        			<li class="dropdown">
		          				<a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Account<span class="caret"></span></a>
		          			<ul class="dropdown-menu">
		            			<li><a href="#">login</a></li><hr>
		            			<li><a href="#">signup</a></li>
		          			</ul>
		       	 			</li>
		      </ul>
		   	</div>
		</div><!-- /.container-fluid -->
	</nav>
<span></span></br></br></br>




<div class='col-sm-6 col-sm-offset-3'>
<div class="row container-fluid">


{% for instance in object_list %}

<div class="col-sm-12 col-md-12">
<div class="thumbnail back">
{% if instance.image %}
<img src="{{instance.image.url}}" class="img-responsive"/>
{% endif %}
<div class="caption post-detail-list">
<h3><a href="{{instance.get_absolute_url }}">{{ instance.title | truncatechars:10}}</a>
<small>{% if instance.draft %}<span style="color:red">{{ instance.publish}}{%endif%}</span></small></h3></br>
<p class="autho">AUTHOR : {{instance.user}}</p></br>
<p class="">{{ instance.get_markdown}}</p></br>
<!--content-markdown removed since now django get_markdown function is workinmg that is defined in its models
to use django-markdown without using jquery implementation-->
</br>
<p><a href="{{instance.get_absolute_url }}" class="btn btn-primary" role="button">view</a></p>
      </div>
    </div>
  </div>

{% endfor %}
  </div>

</br>
<center>
<div class="pagination">
<span class="step-links">
{% if object_list.has_previous %}
<a href="?page={{ object_list.previous_page_number }}&q={{request.GET.q}}">previous</a>
{% endif %}
<span class="current">
Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
</span>
{% if object_list.has_next %}
<a href="?page={{ object_list.next_page_number }}&q={{request.GET.q}}">next</a>
{% endif %}
</span>
</div>
</div>
</center>
</div>
</div>
{% endblock %}
